#To obtain the API keys, kindly visit the designated platform website and complete the registration process.
#Following successful signup, you will be able to access the API key.

#REACT_APP_API_KEY_OPEN_AI REACT_APP_API_KEY_NEWS    https://newsapi.org/v2
#REACT_APP_API_KEY_OPEN_AI                           https://platform.openai.com/
#REACT_APP_API_KEY                                   https://social-network.samuraijs.com/api/1.0/


#YOUR API KEY'S

#REACT_APP_API_KEY =
#REACT_APP_API_KEY_NEWS =
#REACT_APP_API_KEY_OPEN_AI =
