.open_ai_container{
    /*display: none;*/
    margin-top: 30px;
    margin-bottom: 50px;
}
.openai_section {
    /*border: 2px solid blue;*/
    margin: 0 auto;
    background-color: white;
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px, rgb(133, 149, 173) 0.2em 0.4em,     rgb(133, 149, 173) 0.4em 0.2em, rgb(82, 98, 122) 0.4em 0.6em, rgb(82, 98, 122) 0.6em 0.4em;
    width: 70%;
    height: 600px;
}

.title {
    /*border: 2px solid green;*/
    background-color: rgb(194, 202, 214);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.response_section {
    height: 350px;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.openai_inner_section {
    position: relative;
    background-color: rgb(200, 207, 218);
    height: 100px;
}

.openai_inner_section textarea {
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(200, 207, 218);
    resize: none;
    font-size: 18px;
    /*padding-right: 70px; !* Adjust the padding to leave space for the image *!*/
    resize: none;
    padding: 10px 80px 10px 10px;
    height: 60px;
    width: 100%;
}

.openai_inner_section button {
    position: absolute;
    right: 5px;
    bottom: 10px;
    border: none;
    background-color: transparent;
}

.input-container {
    display: flex;
    padding: 10px;
}

.submit-button img {
    width: 40px;
    margin-right: 20px;
}


@media (max-width: 780px) {
    .openai_section{
        width: 90%;
    }
}

@media (max-width: 550px) {
    .open_ai_container{
        margin: 0;
    }
    .openai_section{
        width: 100%;
        font-size: 15px;
    }
    .response_section{
        height: 260px;
        font-size: 14px;
    }
    .input-container{
        font-size: 14px;
    }
    .submit-button img{
        width: 30px;
        margin-right: 5px;

    }
    .openai_inner_section button{
        bottom: 15px;
        right: 0;
    }
    .openai_inner_section textarea{
        font-size: 14px;
    }
    .openai_section{
        height: 500px;
    }

}



