.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 25px;
}

.dialogs_right {
    padding: 10px;
}

.dialogs_left {
    text-align: right;
    padding: 10px;
}

.container {
    /*margin: 20px;*/
    /*max-width: 1200px; !* Set your desired maximum width *!*/
    /*border: 1px solid blue;*/
}

.dialogs_wrapper {
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px, rgb(133, 149, 173) 0.2em 0.4em, rgb(133, 149, 173) 0.4em 0.2em, rgb(82, 98, 122) 0.4em 0.6em, rgb(82, 98, 122) 0.6em 0.4em;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    /*width: 100%;*/
    width: 1200px;
    height: 800px;
}

.recent_dialogs_container {
    /*border: 1px solid red ;*/
    /*width: 100%;*/
    width: 30%;
    height: 100%;
    /*padding-left: 40px;*/
}

.recent_dialogs_list {
    display: block;
    text-align: center;
    font-weight: bold;
    /*align-items: center;*/
}

.recent_dialogs_list button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.formik_find_btn {
    margin-top: 10px;
}

.underline {
    color: grey;
    margin-top: 10px;
}


.chat_container {
    position: relative;
    width: 70%;
    height: 100%;
}

.chat_section {
    /*border: 1px solid blue;*/
}

.chat_inner_section {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*border: 1px solid grey;*/
    border-top: 3px solid rgb(200, 207, 218);

}


.chat_inner_section textarea {
    margin-top: 30px;
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px;
    background-color: lightgrey;
    padding: 40px;
    max-width: 90%;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    resize: none;
    /*margin-bottom: 20px;*/
}

.chat_inner_section button {
    margin: 30px;
}
