.pagination_container button{
    padding: 10px 15px 10px 15px;
    width: 20px;
    height: 20px;
}

.pages_section{
    text-align: center;
    margin-top: 15px;
}

.pages{
    font-size: 18px;
    font-weight: bold;
}