.container {
    margin: 20px;
    max-width: 1200px; /* Set your desired maximum width */
    /*border: 1px solid black;*/
}

/*Main container  */
.profile_wrapper{
    margin-top: 40px;
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px, rgb(133, 149, 173) 0.2em 0.4em, rgb(133, 149, 173) 0.4em 0.2em, rgb(82, 98, 122) 0.4em 0.6em, rgb(82, 98, 122) 0.6em 0.4em;
    margin-left: 100px;
    margin-right: 100px;
}
/*Container for both sections AVATAR and ABOUT ME*/
.profile_edit_container{
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*AVATAR SECTION*/
/*Container For AVATAR*/
.profile_avatar_container {
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px;
    width: 20%;
    background-color: rgb(246, 247, 249);
    height: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
.avatar_title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.select_photo{
    margin: 0 auto;
}

.avatar_img img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px;
}
/*Status Section in AVATAR */
.status_container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.status_container span:hover {
    background-color: rgba(0, 255, 0, 0.35);
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

/*CONTACTS - ABOUT ME SECTION*/
/*Main Container for contacts USERS and ADMIN*/
.profile_data_container{
    /*border: 1px solid black;*/
    margin-left: 90px;

}
/*Wrapper to sepparate User Info and Contacts - FLEX - SPACE-BETWEEN */
.profile_data_wrapper {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    /*gap: 30px;*/
}

/*// LIST OF USER INFO*/
.profile_ul_list{
    margin: 0;
    padding: 0;
}
.profile_ul_list li {
    padding-top: 20px;
}
.profile_ul_list span {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px;
}

.profile_ul_list  textarea {
    background-color: rgb(200, 207, 218);
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    border: none;
    resize: none;
}
.profile_ul_list  input {
    background-color: rgb(200, 207, 218);
    width: 100%;
    border-radius: 2px;
    padding: 15px;
    font-weight: bold;
    border: none;
    resize: none;
}


/*CHECKBOX*/

/*CONTACTS LIST */
.contacts_list{
    margin-right: 50px;
}
.contacts_form_list{
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts_form_list span{
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px;
    margin-right: 20px;
}

.contact_form_title{
    text-align: center;
}



/*BUTTON TO EDIT FORM*/
.edit_form_btn {
    margin-top: 30px;
    margin-bottom: 20px;
    /*text-align: center;*/

}
.edit_form_btn button {
    padding: 15px 60px 15px 60px;
    font-size : 15px
}



/*Profile header section*/
.about_me_title{
    background-color: rgb(194, 202, 214);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
}




