.new_post_container {
    border-style: dashed;
    border-radius: 3px;
    border-color: rgb(0, 255, 0);
    background-color: rgb(19, 21, 19);
    padding: 20px;
    margin-top: 30px;
}
.create_post_title {
    color: white;
    text-align: center;
}
.change_content textarea,
.change_title input {
    background-color: rgb(194, 202, 214);
    width: 90%;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    border: none;
    resize: none;
    padding: 20px;
}

.upload_image_section {
    /*border: 2px solid red;*/
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.select_image_title {
    font-size: 21px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.post_image{
    max-width: 150px    ;
    height: auto;
    box-shadow: rgb(194, 202, 214) 0px 0.2em, rgb(194, 202, 214) 0px -0.2em, rgb(194, 202, 214) 0.2em 0px, rgb(194, 202, 214) -0.2em 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.create_new_post_info_section textarea,
.create_new_post_info_section input {
    margin-top: 20px;
    background-color: white;
    width: 95%;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    border: none;
    resize: none;
    padding: 20px;
}

